.container {
  background: -webkit-radial-gradient(var(--grad-light-blue), var(--dark-blue));
  background: -o-radial-gradient(var(--grad-light-blue), var(--dark-blue));
  background: radial-gradient(var(--grad-light-blue), var(--dark-blue));
  width: 100vw; }
