/* Declare variables */
:root {
  --grad-light-blue: #255bde;
  --grad-dark-blue: #12368f;
  --pale-blue: #9fc3fc;
  --light-blue: #143da1;
  --mid-blue: #133398;
  --neon-blue: #71cbd5;
  --dark-blue: #00074d;
  --text-color: #fff; }

/* Breakpoints */
/**/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow-x: hidden;
  overflow-y: scroll; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  padding: 0; }

a {
  cursor: pointer; }

.container {
  background: -webkit-radial-gradient(var(--grad-light-blue), var(--dark-blue));
  background: -o-radial-gradient(var(--grad-light-blue), var(--dark-blue));
  background: radial-gradient(var(--grad-light-blue), var(--dark-blue));
  background-attachment: fixed;
  margin: 0 auto;
  width: 100vw; }
  .container--white {
    background: #fff;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 100px auto 200px;
    grid-template-rows: 100px auto 200px;
    min-height: 100vh; }

.noscroll {
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden; }

.header {
  color: #143da1;
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }

.tagline {
  color: var(--pale-blue);
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  margin: -12px 0 0 0;
  text-align: center;
  text-transform: uppercase; }

.seperator {
  height: 42px;
  margin: 0 -16px;
  position: relative;
  top: -50px;
  left: 0;
  width: calc(100% + 32px); }
  .seperator--createAccount {
    fill: var(--pale-blue); }
  .seperator--generateIdentity {
    fill: var(--grad-light-blue); }
  .seperator--autoFill {
    fill: var(--mid-blue); }
  @media only screen and (min-width: 960px) {
    .seperator {
      height: 82px;
      top: -88px; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

label {
  color: #fff;
  font-family: "Nexa", Helvetica, Arial, system-ui, sans-serif; }

#logo {
  -webkit-transform: translateX(-80px);
  -ms-transform: translateX(-80px);
  transform: translateX(-80px); }

hr {
  border-color: white;
  margin: 8px auto 18px;
  width: 80%; }

.hr--full {
  width: 100%; }

input {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: "Nexa", Helvetica, Arial, system-ui, sans-serif;
  font-size: 14px;
  height: 28px;
  outline: none; }

meter {
  background: none;
  background-color: rgba(255, 255, 255, 0.2);
  height: .5em;
  margin: 0 auto 1em;
  width: 100%; }

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px; }

meter::-webkit-meter-optimum-value {
  border-radius: 4px; }

meter::-moz-meter-bar {
  border-radius: 4px; }

meter[value="1"]::-webkit-meter-optimum-value {
  background: #fff; }

meter[value="2"]::-webkit-meter-optimum-value {
  background: #fff; }

meter[value="3"]::-webkit-meter-optimum-value {
  background: #fff; }

meter[value="4"]::-webkit-meter-optimum-value {
  background: #fff; }

meter[value="1"]::-moz-meter-bar {
  background: #fff; }

meter[value="2"]::-moz-meter-bar {
  background: #fff; }

meter[value="3"]::-moz-meter-bar {
  background: #fff; }

meter[value="4"]::-moz-meter-bar {
  background: #fff; }

.hidden {
  display: none;
  visibility: hidden; }

.bold {
  font-weight: 700; }

.no-margin {
  margin: 0 !important; }

.link {
  color: #fff;
  text-decoration: underline; }

.title {
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  font-size: 26px;
  margin: 12px auto 8px; }

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* Setup custom font */
@font-face {
  font-family: 'Nexa';
  /*a name to be used later*/
  src: url("../font/NexaRegular.woff");
  /*URL to font*/ }

.header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, var(--grad-light-blue)), to(var(--grad-dark-blue)));
  background: -webkit-linear-gradient(left, var(--grad-light-blue) 60%, var(--grad-dark-blue));
  background: -o-linear-gradient(left, var(--grad-light-blue) 60%, var(--grad-dark-blue));
  background: linear-gradient(90deg, var(--grad-light-blue) 60%, var(--grad-dark-blue));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 16px;
  width: 100vw; }
  @media only screen and (min-width: 960px) {
    .header {
      background: -webkit-gradient(linear, left top, right top, from(var(--grad-light-blue)), to(var(--grad-dark-blue)));
      background: -webkit-linear-gradient(left, var(--grad-light-blue), var(--grad-dark-blue));
      background: -o-linear-gradient(left, var(--grad-light-blue), var(--grad-dark-blue));
      background: linear-gradient(90deg, var(--grad-light-blue), var(--grad-dark-blue));
      -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
      height: 100px; } }
  .header h1 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .header__logo {
    height: 40px;
    left: 0px;
    position: absolute;
    top: -20px;
    width: 200px; }
    @media only screen and (min-width: 960px) {
      .header__logo {
        left: -110px; } }
  .header__logoAnchor {
    margin: 12px 0;
    max-height: 40px;
    padding: 0;
    position: relative; }
    @media only screen and (min-width: 960px) {
      .header__logoAnchor {
        margin: 12px auto; } }

.nav {
  background: var(--mid-blue);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 100px;
  -webkit-transform: translateX(-110vw);
  -ms-transform: translateX(-110vw);
  transform: translateX(-110vw);
  -webkit-transition: -webkit-transform 0.24s ease-out;
  transition: -webkit-transform 0.24s ease-out;
  -o-transition: transform 0.24s ease-out;
  transition: transform 0.24s ease-out;
  transition: transform 0.24s ease-out, -webkit-transform 0.24s ease-out;
  width: 100vw;
  z-index: 10; }
  .nav--open {
    -webkit-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    transform: translateX(0vw); }
    .nav--open .navlist__item {
      -webkit-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
      transform: translateX(0vw); }
  @media only screen and (min-width: 960px) {
    .nav {
      background: transparent;
      height: auto;
      max-height: 100px;
      position: static;
      -webkit-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
      transform: translateX(0vw);
      width: 100%; } }

.navlist {
  height: 100vh; }
  @media only screen and (min-width: 960px) {
    .navlist {
      height: 100px; } }
  .navlist__iconWrapper {
    display: block;
    padding: 16px; }
    @media only screen and (min-width: 960px) {
      .navlist__iconWrapper {
        display: none; } }
  .navlist__icon {
    cursor: pointer;
    display: block;
    fill: #fff;
    max-width: 32px; }
    @media only screen and (min-width: 960px) {
      .navlist__icon {
        display: none; } }
    .navlist__icon #line1, .navlist__icon #line2, .navlist__icon #line3 {
      -webkit-transition: all 0.24s ease-in-out;
      -o-transition: all 0.24s ease-in-out;
      transition: all 0.24s ease-in-out; }
    .navlist__icon--open #line1 {
      -webkit-transform: translate(6px, -2px) rotate(45deg);
      -ms-transform: translate(6px, -2px) rotate(45deg);
      transform: translate(6px, -2px) rotate(45deg); }
    .navlist__icon--open #line2 {
      opacity: 0; }
    .navlist__icon--open #line3 {
      -webkit-transform: translate(-12px, 6px) rotate(-45deg);
      -ms-transform: translate(-12px, 6px) rotate(-45deg);
      transform: translate(-12px, 6px) rotate(-45deg); }
  .navlist__item {
    border-bottom: solid 2px var(--dark-blue);
    display: block;
    height: 14.66667vh;
    margin: 0;
    -webkit-transform: translateX(-110vw);
    -ms-transform: translateX(-110vw);
    transform: translateX(-110vw);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .navlist__item:nth-child(1) {
      -webkit-transition-delay: 0.24s;
      -o-transition-delay: 0.24s;
      transition-delay: 0.24s; }
    .navlist__item:nth-child(2) {
      -webkit-transition-delay: 0.30s;
      -o-transition-delay: 0.30s;
      transition-delay: 0.30s; }
    .navlist__item:nth-child(3) {
      -webkit-transition-delay: 0.36s;
      -o-transition-delay: 0.36s;
      transition-delay: 0.36s; }
    .navlist__item:nth-child(4) {
      -webkit-transition-delay: 0.42s;
      -o-transition-delay: 0.42s;
      transition-delay: 0.42s; }
    .navlist__item:nth-child(5) {
      -webkit-transition-delay: 0.48s;
      -o-transition-delay: 0.48s;
      transition-delay: 0.48s; }
    .navlist__item:nth-child(6) {
      -webkit-transition-delay: 0.56s;
      -o-transition-delay: 0.56s;
      transition-delay: 0.56s; }
    @media only screen and (min-width: 960px) {
      .navlist__item {
        border-bottom: 0;
        display: inline-block;
        height: 100%;
        margin: 0 10px;
        -webkit-transform: translateX(0vw);
        -ms-transform: translateX(0vw);
        transform: translateX(0vw); } }
    @media only screen and (min-width: 1140px) {
      .navlist__item {
        margin: 0 16px; } }
  .navlist__anchor {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2rem;
    font-weight: 400;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px;
    position: relative;
    text-decoration: none;
    -webkit-transition: background 0.24s ease-out;
    -o-transition: background 0.24s ease-out;
    transition: background 0.24s ease-out; }
    @media only screen and (min-width: 540px) {
      .navlist__anchor {
        font-size: 2.8rem; } }
    @media only screen and (min-width: 960px) {
      .navlist__anchor {
        font-size: 16px;
        height: auto; }
        .navlist__anchor::after {
          background: #fff;
          bottom: 0;
          content: '';
          height: 2px;
          left: 0;
          margin: auto;
          opacity: 0;
          position: absolute;
          right: 0;
          -webkit-transform: translateY(10px);
          -ms-transform: translateY(10px);
          transform: translateY(10px);
          -webkit-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          width: calc(100% - 16px); }
        .navlist__anchor:hover::after {
          opacity: 1;
          -webkit-transform: translateY(-6px);
          -ms-transform: translateY(-6px);
          transform: translateY(-6px); } }
    @media only screen and (min-width: 1140px) {
      .navlist__anchor {
        font-size: 18px; } }
    .navlist__anchor--active {
      background: #fff;
      border-radius: 24px;
      color: var(--mid-blue);
      cursor: default;
      padding: 4px 20px; }
      .navlist__anchor--active:hover::after {
        opacity: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none; }

.faq {
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 16px;
  width: 100vw; }
  .faq__block {
    display: block; }
  .faq__question {
    color: var(--mid-blue);
    font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
    font-size: 2rem;
    text-transform: uppercase; }
  .faq__answer {
    color: var(--dark-blue);
    font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
    font-size: 1.2rem; }

.faqList {
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  font-size: 18px;
  margin: 32px auto 52px;
  text-transform: uppercase; }
  .faqList__item {
    margin: 8px auto;
    text-align: center; }

.about {
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  margin: 0 auto;
  max-width: 1440px;
  padding: 16px;
  width: 100vw; }
  .about__heading {
    color: var(--mid-blue);
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase; }
  .about__text {
    color: var(--dark-blue);
    font-size: 1.2rem;
    line-height: 2rem; }

#roadmap {
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  margin: 0 auto;
  max-width: 1440px;
  padding: 36px 0 16px;
  width: 100vw; }

.roadmap__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 16px; }
  @media only screen and (min-width: 720px) {
    .roadmap__grid {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr; } }

.roadmap__title {
  color: var(--mid-blue);
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }

.roadmap__block {
  background: #fff;
  display: block;
  overflow: hidden;
  padding: 16px;
  position: relative;
  width: 100%; }

.roadmap__complete {
  background: rgba(0, 100, 230, 0.75);
  height: 200%;
  position: absolute;
  width: 200%; }
  .roadmap__complete:after {
    -ms-flex-line-pack: center;
    align-content: center;
    color: #fff;
    content: 'COMPLETE';
    display: -ms-grid;
    display: grid;
    font-size: 32px;
    font-weight: 700;
    height: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 50%; }

.roadmap__heading {
  color: var(--dark-blue);
  font-size: 18px;
  margin: 0 0 16px 0;
  text-align: center;
  text-transform: uppercase; }

.roadmap__image {
  background: -webkit-linear-gradient(45deg, var(--grad-light-blue), var(--grad-dark-blue));
  background: -o-linear-gradient(45deg, var(--grad-light-blue), var(--grad-dark-blue));
  background: linear-gradient(45deg, var(--grad-light-blue), var(--grad-dark-blue));
  margin: 16px 0;
  text-align: center; }

.roadmap__text {
  font-size: 16px; }

#login {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-radial-gradient(#143da1, 28%, #061765, #00074d);
  background: -o-radial-gradient(#143da1, 28%, #061765, #00074d);
  background: radial-gradient(#143da1, 28%, #061765, #00074d);
  display: -ms-grid;
  display: grid;
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 60px auto auto;
  grid-template-rows: 60px auto auto;
  grid-gap: 8px;
  margin: 0 auto;
  max-width: 1440px;
  padding: 36px 0 16px;
  text-align: center;
  width: 100vw; }
  @media only screen and (min-width: 720px) {
    #login {
      padding: 16px 0; } }

.login__title {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase; }

.login__illustration {
  max-width: 1400px;
  max-height: 300px; }

.login__form {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  margin: 12px auto;
  max-width: none;
  padding: 32px 0;
  width: 100%; }
  @media only screen and (min-width: 960px) {
    .login__form {
      margin: 32px auto;
      max-width: 500px;
      padding: 24px; } }

.login__email, .login__password {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-bottom: 0;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--text-color);
  display: block;
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  font-size: 24px;
  font-weight: 400;
  height: 80px;
  margin: 8px auto 10px;
  max-height: 80px;
  max-width: none;
  min-height: 36px;
  opacity: 1;
  padding: 8px 18px;
  -webkit-transition: border-bottom 0.3s ease-out;
  -o-transition: border-bottom 0.3s ease-out;
  transition: border-bottom 0.3s ease-out;
  width: 96%; }
  .login__email::-webkit-input-placeholder, .login__password::-webkit-input-placeholder {
    font-size: 18px; }
  .login__email:-ms-input-placeholder, .login__password:-ms-input-placeholder {
    font-size: 18px; }
  .login__email::-ms-input-placeholder, .login__password::-ms-input-placeholder {
    font-size: 18px; }
  .login__email::placeholder, .login__password::placeholder {
    font-size: 18px; }
  .login__email:focus, .login__password:focus {
    border-bottom: solid 4px #fff;
    outline: 0; }
  @media only screen and (min-width: 960px) {
    .login__email, .login__password {
      font-size: 18px;
      height: 50px;
      max-height: 80px;
      max-width: 520px;
      padding: 8px 18px; } }

.login__button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background: var(--grad-dark-blue);
  border: none;
  border-radius: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  font-size: 36px;
  height: 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 4px;
  margin: 32px auto 0;
  max-width: 500px;
  outline: none;
  padding: 18px;
  text-transform: uppercase;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: background 0.2s ease-out, color 0.2s ease, height 0.2s ease, width 0.2s ease, -webkit-transform 0.2s ease-out;
  transition: background 0.2s ease-out, color 0.2s ease, height 0.2s ease, width 0.2s ease, -webkit-transform 0.2s ease-out;
  -o-transition: background 0.2s ease-out, color 0.2s ease, transform 0.2s ease-out, height 0.2s ease, width 0.2s ease;
  transition: background 0.2s ease-out, color 0.2s ease, transform 0.2s ease-out, height 0.2s ease, width 0.2s ease;
  transition: background 0.2s ease-out, color 0.2s ease, transform 0.2s ease-out, height 0.2s ease, width 0.2s ease, -webkit-transform 0.2s ease-out;
  width: 100%; }
  .login__button:hover, .login__button:focus {
    background: #eee;
    color: var(--light-blue);
    outline: 0; }
  @media only screen and (min-width: 960px) {
    .login__button {
      font-size: 28px;
      height: 64px; } }

.price, .download {
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0;
  width: 100vw; }
  @media only screen and (min-width: 540px) {
    .price, .download {
      padding: 16px 32px; } }
  .price__heading, .download__heading {
    color: var(--mid-blue);
    font-size: 2rem;
    margin: 12px auto 32px;
    text-align: center;
    text-transform: uppercase; }
  .price__table {
    display: -ms-grid;
    display: grid;
    grid-gap: 32px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
    @media only screen and (min-width: 960px) {
      .price__table {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr; } }
  .price__group {
    color: #fff;
    padding: 24px;
    position: relative;
    text-align: center;
    text-transform: uppercase; }
    .price__group--basic {
      background: -webkit-gradient(linear, left top, left bottom, from(#255BDE), to(#143DA1));
      background: -webkit-linear-gradient(#255BDE, #143DA1);
      background: -o-linear-gradient(#255BDE, #143DA1);
      background: linear-gradient(#255BDE, #143DA1); }
    .price__group--regular {
      background: -webkit-gradient(linear, left top, left bottom, from(#255BDE), to(#00074D));
      background: -webkit-linear-gradient(#255BDE, #00074D);
      background: -o-linear-gradient(#255BDE, #00074D);
      background: linear-gradient(#255BDE, #00074D); }
    .price__group--premium {
      background: -webkit-gradient(linear, left top, left bottom, from(#133398), to(#00074D));
      background: -webkit-linear-gradient(#133398, #00074D);
      background: -o-linear-gradient(#133398, #00074D);
      background: linear-gradient(#133398, #00074D); }
  .price__title {
    font-size: 24px;
    margin: 24px auto 12px;
    text-transform: uppercase; }
  .price__text, .download__text {
    font-size: 20px;
    text-align: center; }
  .price__illustration {
    margin: 16px auto 42px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .price__price {
    font-size: 32px; }
  .price__featureTitle {
    font-size: 14px;
    margin: 20px auto 16px;
    text-decoration: underline; }
  .price__features {
    height: 200px; }
  .price__featureList {
    list-style-type: none; }
  .price__featureItem {
    font-size: 24px;
    font-weight: 300;
    margin: 18px auto; }
    @media only screen and (min-width: 960px) {
      .price__featureItem {
        font-size: 18px; } }
    @media only screen and (min-width: 1140px) {
      .price__featureItem {
        font-size: 24px; } }
  .price__button, .download__button {
    background: -webkit-gradient(linear, left top, right top, from(var(--grad-light-blue)), to(var(--dark-blue)));
    background: -webkit-linear-gradient(left, var(--grad-light-blue), var(--dark-blue));
    background: -o-linear-gradient(left, var(--grad-light-blue), var(--dark-blue));
    background: linear-gradient(90deg, var(--grad-light-blue), var(--dark-blue));
    background-size: 200%;
    border: none;
    border-radius: 30px;
    bottom: 42px;
    color: #fff;
    cursor: pointer;
    font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
    font-size: 24px;
    height: 60px;
    margin: 24px auto 12px;
    padding: 8px 30px;
    text-transform: uppercase;
    -webkit-transition: background 0.24s ease-out;
    -o-transition: background 0.24s ease-out;
    transition: background 0.24s ease-out; }
    .price__button:hover, .download__button:hover {
      background-position: 100%; }

.download__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  padding: 16px 0; }
  @media only screen and (min-width: 960px) {
    .download__table {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr; } }

.download__browser {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  padding: 32px 0; }
  @media only screen and (min-width: 960px) {
    .download__browser {
      padding: 0; } }

.download__iconGroup {
  text-align: center; }

.download__icon {
  margin: 0 12px;
  max-height: 80px;
  max-width: 80px; }

.download__browserTitle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-grid;
  display: grid;
  text-align: center; }
  .download__browserTitle h3 {
    font-size: 28px; }
    @media only screen and (min-width: 960px) {
      .download__browserTitle h3 {
        font-size: 20px; } }

.download__button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-decoration: none; }

#tech {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#102085), to(#000534));
  background-image: -webkit-linear-gradient(#102085, #000534);
  background-image: -o-linear-gradient(#102085, #000534);
  background-image: linear-gradient(#102085, #000534);
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  margin: 0 auto;
  max-width: 1440px;
  padding: 16px;
  width: 100vw; }

.tech__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 16px; }
  @media only screen and (min-width: 960px) {
    .tech__grid {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr; } }

.tech__column {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-grid;
  display: grid; }
  .tech__column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
    @media only screen and (min-width: 960px) {
      .tech__column:nth-child(1) {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; } }
  .tech__column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
    @media only screen and (min-width: 960px) {
      .tech__column:nth-child(2) {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; } }

.tech__title {
  color: #fff;
  font-size: 2rem;
  margin: 12px auto 32px;
  text-align: center;
  text-transform: uppercase; }

.tech__text {
  color: var(--dark-blue);
  font-size: 1.2rem;
  line-height: 2rem; }

.tech__card {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  margin: 12px auto;
  padding: 16px; }

.card__title {
  margin: 8px auto 4px;
  text-align: center;
  text-transform: uppercase; }

.card__paragraph {
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  line-height: 1.6rem; }

.form {
  height: 100%; }
  .form__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
    grid-gap: 16px;
    margin: 0 auto;
    max-width: 480px; }
  .form__label {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right; }
  .form__input {
    color: #fff;
    display: block;
    font-size: 18px;
    height: auto;
    padding: 8px 12px;
    text-align: left; }
  .form__submit {
    background: var(--dark-blue);
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 24px auto 16px;
    padding: 12px 16px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
    .form__submit:hover {
      background: #fff;
      color: var(--mid-blue); }

.modal {
  bottom: 0;
  height: 100vh;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 10; }
  .modal__background {
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%; }
  .modal__body {
    background: var(--dark-blue);
    bottom: 0;
    border-radius: 8px;
    color: #fff;
    font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
    left: 0;
    margin: auto;
    padding: 16px;
    position: fixed;
    right: 0;
    top: 0;
    height: 600px;
    width: 600px; }
  .modal__title {
    color: #fff;
    font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
    font-size: 2rem; }
  .modal__list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .modal__anchor {
    color: #fff; }

.policy {
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  margin: 0 auto;
  max-width: 1440px;
  padding: 32px 16px;
  width: 100vw; }
  .policy h1, .policy h2, .policy h3 {
    text-align: center; }

.footer {
  background: #000534;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 100vw;
  padding: 12px 16px 48px;
  width: 100vw; }
  .footer__social {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__socialItem {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0 8px; }
  @media only screen and (min-width: 720px) {
    .footer {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1440px; } }
  .footer__nav {
    text-align: center; }
  .footer__navList {
    font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
    font-size: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase; }
    .footer__navList a {
      color: #fff;
      padding: 8px;
      position: relative;
      text-decoration: none;
      -webkit-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
      .footer__navList a::after {
        background: #fff;
        bottom: 0px;
        content: '';
        height: 1px;
        left: 8px;
        opacity: 0;
        position: absolute;
        right: 0;
        top: auto;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        width: calc(100% - 16px); }
      .footer__navList a:hover::after {
        -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        transform: translateY(-6px);
        opacity: 1; }
    .footer__navList--left {
      text-align: center; }
      @media only screen and (min-width: 720px) {
        .footer__navList--left {
          text-align: left; } }
    .footer__navList--right {
      text-align: center; }
      @media only screen and (min-width: 720px) {
        .footer__navList--right {
          text-align: right; } }
  .footer__navListItem {
    margin: 16px 0; }
    .footer__navListItem:last-child {
      margin-bottom: 0px; }
      @media only screen and (min-width: 720px) {
        .footer__navListItem:last-child {
          margin: 16px 0; } }
  .footer__copyright {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
    font-size: 10px;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 32px 0 8px;
    width: 100%; }
    @media only screen and (min-width: 720px) {
      .footer__copyright {
        padding: 0; } }
  .footer__section:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    width: 100%; }
    @media only screen and (min-width: 720px) {
      .footer__section:nth-child(1) {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: calc(50vw - 32px); } }
    @media only screen and (min-width: 960px) {
      .footer__section:nth-child(1) {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 100%; } }
  .footer__section:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    width: 100%; }
    @media only screen and (min-width: 720px) {
      .footer__section:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1 / span 3; } }
    @media only screen and (min-width: 960px) {
      .footer__section:nth-child(2) {
        -ms-grid-column: 2;
        grid-column: 2 / 2;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        width: 100%; } }
  .footer__section:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%; }
    @media only screen and (min-width: 720px) {
      .footer__section:nth-child(3) {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;
        width: calc(50vw - 32px); } }
    @media only screen and (min-width: 960px) {
      .footer__section:nth-child(3) {
        -ms-grid-column: 3;
        grid-column: 3 / 3;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        width: 100%; } }
