.about {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  font-family: $secondaryFont;
  margin: 0 auto;
  max-width: 1440px;
  padding: 16px;
  width: 100vw;
  &__heading {
    color: var(--mid-blue);
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
  }
  &__text {
    color: var(--dark-blue);
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
