.button {
  &__download {
    background: var(--grad-light-blue);
    border: solid 4px var(--grad-light-blue);
    border-radius: 24px;
    color: $white;
    cursor: pointer;
    font-family: $secondaryFont;
    font-size: 24px;
    font-weight: 700;
    padding: 12px 24px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    &:hover {
      background: transparent;
      color: var(--grad-light-blue);
    }
  }
}
