.callToAction {
  background: var(--dark-blue);
  color: $white;
  font-family: $secondaryFont;
  font-size: 18px;
  margin: 0 auto;
  max-width: 1440px;
  padding: 10vh 16px;
  text-align: center;
  width: 100vw;
  &__header {
    @extend .header;
    color: $white;
    font-size: 36px;
  }
  &__button {
    align-items: center;
    background: var(--mid-blue);
    border: solid 4px var(--mid-blue);
    border-radius: 75px;
    color: $white;
    cursor: pointer;
    display: grid;
    font-family: $secondaryFont;
    font-size: 32px;
    height: 120px;
    margin: 48px auto 12px;
    max-width: 540px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.22s ease-in-out;
    width: 88vw;;
    @include laptop-up {
      width: 25vw;;
    }
    @include tablet-up {
      width: 50vw;
    }
    &:hover {
      background: var(--dark-blue);
      border-color: var(--mid-blue);
    }
  }
  &__tagline {
    line-height: 36px;
    & a {
      color: $white;
    }
  }
  &__supported {
    height: 50px;
    width: 50px;
  }
  &__unsupported {
    @extend .callToAction__supported;
    filter: grayscale(98%);
  }
}
