.download {
  @extend .price;
  &__heading {
    @extend .price__heading;
  }
  &__text {
    @extend .price__text;
  }
  &__table {
    display: grid;
    grid-template-columns: 1fr;
    padding: 16px 0;
    @include laptop-up {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__browser {
    display: grid;
    grid-template-rows: 80px 80px 80px;
    padding: 32px 0;
    @include laptop-up {
      padding: 0;
    }
  }
  &__iconGroup {
    text-align: center;
  }
  &__icon {
    margin: 0 12px;
    max-height: 80px;
    max-width: 80px;
  }
  &__browserTitle {
    align-items: center;
    display: grid;
    text-align: center;
    & h3 {
      font-size: 28px;
      @include laptop-up {
        font-size: 20px;
      }
    }
  }
  &__button {
    @extend .price__button;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
  }
}
