.faq {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 16px;
  width: 100vw;

  &__block {
    display: block;
  }

  &__question {
    color: var(--mid-blue);
    font-family: $secondaryFont;
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__answer {
    color: var(--dark-blue);
    font-family: $secondaryFont;
    font-size: 1.2rem;
  }
}

.faqList {
  font-family: $secondaryFont;
  font-size: 18px;
  margin: 32px auto 52px;
  text-transform: uppercase;
  &__item {
    margin: 8px auto;
    text-align: center;
  }
}
