.footer {
  background: darken(#00074d, 5%);
  color: $white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 100vw;
  padding: 12px 16px 48px;
  width: 100vw;
  &__social {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }
  &__socialItem {
    display: inline-flex;
    margin: 0 8px;
  }
  @include tablet-up {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1440px;
  }
  &__nav {
    text-align: center;
  }
  &__navList {
    font-family: $secondaryFont;
    font-size: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    & a {
      color: $white;
      padding: 8px;
      position: relative;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &::after {
        background: $white;
        bottom: 0px;
        content: '';
        height: 1px;
        left: 8px;
        opacity: 0;
        position: absolute;
        right: 0;
        top: auto;
        transition: all 0.2s ease-in-out;
        width: calc(100% - 16px);
      }
      &:hover {
        &::after {
          transform: translateY(-6px);
          opacity: 1;
        }
      }
    }
    &--left {
      text-align: center;
      @include tablet-up {
        text-align: left;
      }
    }
    &--right {
      text-align: center;
      @include tablet-up {
        text-align: right;
      }
    }
  }
  &__navListItem {
    margin: 16px 0;
    &:last-child {
      margin-bottom: 0px;
      @include tablet-up {
        margin: 16px 0;
      }
    }
  }
  &__copyright {
    align-items: flex-start;
    color: $white;
    display: flex;
    font-family: $secondaryFont;
    font-size: 10px;
    height: 100%;
    justify-content: center;
    padding: 32px 0 8px;
    width: 100%;
    @include tablet-up {
      padding: 0;
    }
  }
  &__section {
    &:nth-child(1) {
      order: 1;
      grid-column: 1 / span 3;
      width: 100%;
      @include tablet-up {
        grid-column: 1 / 2;
        order: 1;
        width: calc(50vw - 32px);
      }
      @include laptop-up {
        order: 1;
        width: 100%;
      }
    }
    &:nth-child(2) {
      grid-column: 1 / span 3;
      order: 3;
      width: 100%;
      @include tablet-up {
        grid-column: 1 / span 3;
      }
      @include laptop-up {
        grid-column: 2 / 2;
        order: 2;
        width: 100%;
      }
    }
    &:nth-child(3) {
      grid-column: 1 / span 3;
      order: 2;
      width: 100%;
      @include tablet-up {
        grid-column: 2 / 3;
        width: calc(50vw - 32px);
      }
      @include laptop-up {
        grid-column: 3 / 3;
        order: 3;
        width: 100%;
      }
    }
  }
}
