.form {
  height: 100%;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 16px;
    margin: 0 auto;
    max-width: 480px;
  }
  &__label {
    align-items: center;
    color: $white;
    display: flex;
    font-family: $secondaryFont;
    justify-content: flex-end;
    text-align: right;
  }
  &__input {
    color: $white;
    display: block;
    font-size: 18px;
    height: auto;
    padding: 8px 12px;
    text-align: left;
  }
  &__submit {
    background: var(--dark-blue);
    border: none;
    border-radius: 8px;
    color: $white;
    cursor: pointer;
    display: block;
    font-family: $secondaryFont;
    font-size: 16px;
    font-weight: 700;
    margin: 24px auto 16px;
    padding: 12px 16px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    &:hover {
      background: $white;
      color: var(--mid-blue);
    }
  }
}
