.header {
  align-items: center;
  background: linear-gradient(90deg, var(--grad-light-blue) 60%, var(--grad-dark-blue));
  display: grid;
  grid-template-columns: 1fr auto;
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 16px;
  width: 100vw;
  @include laptop-up {
    background: linear-gradient(90deg, var(--grad-light-blue), var(--grad-dark-blue));
    grid-template-columns: 1fr auto;
    height: 100px;
  }

  & h1 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    height: 100%;
    user-select: none;
  }

  &__logo {
    height: 40px;
    left: 0px;
    position: absolute;
    top: -20px;
    width: 200px;
    @include laptop-up {
      left: -110px;
    }
  }

  &__logoAnchor {
    margin: 12px 0;
    max-height: 40px;
    padding: 0;
    position: relative;
    @include laptop-up {
      margin: 12px auto;
    }
  }
}
