#hero {
  display: none;
  max-width: 1440px;
  width: 100%;
  @include laptop-up {
    display: block;
    margin: 0 0 0 auto;
    transform: translateY(-12px);
  }
}

#hero [id*="shadow"] {
  filter: blur(2px);
}

#hero #email-circle-shine {
  filter: url("#sofGlow1");
}

#hero #shield {
  filter: url("#sofGlow");
}

.st0{fill:#fff}
.st2{fill:#00074d}
.shadow1{filter:blur(8px);opacity:.75}
.shadow2{filter:blur(4px);opacity:.6}
.shadow3{filter:blur(2px);opacity:.9}
.shadow4{filter:blur(1px);opacity:.8}
.shadow5{filter:blur(4px);opacity:.4}
.shadow6{filter:blur(2px);opacity:.3}
.st5{font-size:12px}.st6{fill:#01040f}
.st10,.st12{fill:none;stroke:#71cbd5;stroke-width:1.276;stroke-linecap:round;stroke-miterlimit:10}
.st12{stroke-width:1.2762;stroke-linejoin:round}
.st14{fill:#71cbd5}.st15{opacity:.2;fill:#00074d}
.st17{opacity:.75}.st20{opacity:.6}.st29{opacity:.9}
.st32{opacity:.7}.st47{opacity:.3}.st75{fill:#287aff}
.st76{fill:#143da1}.st111{enable-background:new}
.st152{fill:#3e84ff}

// #mainIllustration {
//   transform: scale(.75) translateX(430px) translateY(40px);
// }

.hero {
  background: linear-gradient(var(--grad-light-blue), var(--grad-dark-blue));
  // box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  // height: 100vh;
  margin: 0 auto;
  max-height: 100vh;
  max-width: 1440px;
  position: relative;
  width: 100vw;
  @include laptop-up {
    background: $white;
    max-height: none;
    text-align: right;
  }

  &__mobileButtonWrapper {
    height: 100%;
    margin: 0 auto auto;
    text-align: center;
  }

  &__mobileNav {
    background: rgba(19, 51, 152, 0.88);
    bottom: 0;
    color: $white;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: transform 0.2s ease-out;
    width: 100vw;
    z-index: 9;
    &--hidden {
      transform: translateX(-101vw);
      & .mobileNav__listItem {
        transform: translateX(-101vw);
      }
    }
    & .mobileNav__listItem {
      &:nth-child(2) {
        transition-delay: 0.1s;
      }
      &:nth-child(3) {
        transition-delay: 0.13s;
      }
      &:nth-child(4) {
        transition-delay: 0.16s;
      }
      &:nth-child(5) {
        transition-delay: 0.19s;
      }
      &:nth-child(6) {
        transition-delay: 0.22s;
      }
    }
  }

  &__mobile {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12vh 60vh 20vh;
    height: 100%;
    justify-items: center;
    max-height: 100vh;
    padding-bottom: 24px;
    @include laptop-up {
      display: none;
    };
  }

  &__btnSignUp {
    background: var(--grad-light-blue);
    border: 0;
    border-radius: 24px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-family: $secondaryFont;
    font-size: 24px;
    margin: 16px;
    min-height: 60px;
    padding: 12px 18px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    width: 80vw;
    &:hover {
      background: var(--dark-blue);
    }
  }

  &__btnLearnMore {
    @extend .hero__btnSignUp;
    background: $white;
    border: solid 2px var(--grad-light-blue);
    color: var(--grad-light-blue);
  }

  &__logo {
    margin: auto auto 0;
    max-height: 80px;
    position: relative;
    width: 100vw;
    z-index: 2;
  }

  &__image {
    width: 100%;
    max-height: 66vh;
  }

  &__tagline {
    color: $white;
    font-family: $secondaryFont;
    margin-top: 3vh;
    text-transform: uppercase;
    text-align: center;
  }

  &__navWrapper {
    position: absolute;
    top: 1vh;
    right: 2vw;
  }

  &__navList {
    list-style-type: none;
  }

  &__navItem {
    display: inline-block;
    margin: 0 24px;
    & a {
      color: $white;
      font-family: $secondaryFont;
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &__title {
    height: 0;
    margin-top: -1000000px;
    position: absolute;
    width: 0;
    visibility: hidden;
  }

  &__btnText {
    fill: $white;
    font-family: $secondaryFont;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1;
    stroke: none;
    text-transform: uppercase;
    user-select: none;
    &--secondary {
      font-size: 24px;
    }
    &--signUp {
      transform: translate(146.358px, 892.223px);
      transition: transform 0.2s ease-in-out;
    }
    &--learn {
      font-size: 24px;
      transform: translate(180.052px, 1046px);
      transition: transform 0.2s ease-in-out;
    }
  }

  &__button {
    cursor: pointer;
    font-family: $secondaryFont;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    &--signup {
      &:hover .hero__btnSignup {
        fill: var(--dark-blue);
      }
      &:hover .hero__btnText{
        transform: translate(140.358px, 892.223px);
      }
      &:hover .hero__buttonArrow {
        opacity: 1;
        transform: translateX(10px);
      }
    }
    &--learnMore {
      fill: var(--dark-blue);
      stroke: var(--grad-light-blue);
      stroke-miterlimit: 10;
      stroke-width: 4;
      font-size: 24px;
      &:hover .hero__buttonArrow {
        fill: $white;
        opacity: 1;
        transform: translateY(2px);
      }
      &:hover .hero__btnText {
        fill: $white;
        transform: translate(180.052px, 1042px);
      }
    }
  }


  &__btnLearnMore {
    fill: var(--dark-blue);
    transition: all 0.4s ease-in-out;
  }

  &__btnSignup {
    fill: var(--grad-light-blue);
    stroke: var(--grad-light-blue);
    stroke-width: 4;
    transition: all 0.22s ease-in-out;
  }


  &__buttonArrow {
    opacity: 0;
    stroke: none;
    stroke-width: 0;
    transition: all 0.2s ease-in-out;
    &--down {
      fill: var(--dark-blue);
      opacity: 0;
      transform: translateY(-36px);
    }
  }

  &__or {
    color: $white;
    display: block;
    font-family: $secondaryFont;
    font-size: 24px;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  &__innerAction {
    align-items: center;
    border: solid 2px #00f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 33%;
  }

  &__anchor {
    border: 0;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    &:focus {
      border: 0;
      outline: 0;
    }
  }

}
