.how {
  background: $white;
  margin: 0 auto;
  max-width: 1440px;
  padding: 48px 0 0 0;
  width: 100vw;

  &__list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }

  &__listItem {
    font-family: $secondaryFont;
    font-size: 20px;
    margin: 16px 0 0;
    padding-left: 12px;
  }

  &__step {
    font-family: $secondaryFont;
    font-size: 20px;
    min-height: 25vh;
    padding: 8px 16px;
    position: relative;
    text-align: center;
    &--1 {
      background: $white;
      padding: 48px 16px 128px;
    }
    &--2 {
      background: var(--pale-blue);
      padding: 8px 16px 128px;
    }
    &--3 {
      background: var(--grad-light-blue);
      color: $white;
      & h3 {
        color: $white;
      }
    }
    &--4 {
      background: var(--mid-blue);
      color: $white;
      & h3 {
        color: $white;
      }
    }
  }

  &__step--1 {}

  &__stepHeader {
    color: var(--dark-blue);
    font-family: $secondaryFont;
    font-size: 28px;
    text-transform: uppercase;
  }

  &__video {
    margin: 48px auto 36px;
    max-height: 88vh;
    max-width: 88vw;
    &--signup, &--generate, &--fill {
      @include tablet-up {
        max-height: 600px;
        max-width: 96vw;
      }
    }
    &--generate {
      margin: 48px auto 96px;
    }
  }


}
