#login {
  align-items: center;
  background: radial-gradient(#143da1, 28%, #061765, #00074d);
  display: grid;
  font-family: $secondaryFont;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto auto;
  grid-gap: 8px;
  margin: 0 auto;
  max-width: 1440px;
  padding: 36px 0 16px;
  text-align: center;
  width: 100vw;
  @include tablet-up {
    padding: 16px 0;
  }
}

.login {
  &__title {
    color: $white;
    font-size: 2rem;
    text-transform: uppercase;
  }
  &__illustration {
    max-width: 1400px;
    max-height: 300px;
  }
  &__form {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    margin: 12px auto;
    max-width: none;
    padding: 32px 0;
    width: 100%;
    @include laptop-up {
      margin: 32px auto;
      max-width: 500px;
      padding: 24px;
    }
  }
  &__email, &__password {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: var(--text-color);
    display: block;
    font-family: $secondaryFont;
    font-size: 24px;
    font-weight: 400;
    height: 80px;
    margin: 8px auto 10px;
    max-height: 80px;
    max-width: none;
    min-height: 36px;
    opacity: 1;
    padding: 8px 18px;
    transition: border-bottom 0.3s ease-out;
    width: 96%;
    &::placeholder{
      font-size: 18px;
    }
    &:focus {
        border-bottom: solid 4px #fff;
        outline: 0;
      }
      @include laptop-up {
        font-size: 18px;
        height: 50px;
        max-height: 80px;
        max-width: 520px;
        padding: 8px 18px;
      }
    }
  &__button {
    align-items: center;
    align-content: center;
    background: var(--grad-dark-blue);
    border: none;
    border-radius: 18px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: $secondaryFont;
    font-size: 36px;
    height: 100px;
    justify-content: center;
    letter-spacing: 4px;
    margin: 32px auto 0;
    max-width: 500px;
    outline: none;
    padding: 18px;
    text-transform: uppercase;
    transform: scale(1);
    transition: background 0.2s ease-out, color 0.2s ease, transform 0.2s ease-out, height 0.2s ease, width 0.2s ease;
    width: 100%;
    &:hover, &:focus {
      // background-position: 100%;
      background: #eee;
      color: var(--light-blue);
      outline: 0;
    }
    @include laptop-up {
      font-size: 28px;
      height: 64px;
    }
  }
}
