$numberOfNavItems: 6;

.nav {
  background: var(--mid-blue);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 100px;
  transform: translateX(-110vw);
  transition: transform 0.24s ease-out;
  width: 100vw;
  z-index: 10;
  &--open {
    transform: translateX(0vw);
    .navlist__item {
      transform: translateX(0vw);
    }
  }
  @include laptop-up {
    background: transparent;
    height: auto;
    max-height: 100px;
    position: static;
    transform: translateX(0vw);
    width: 100%;
  }
}

.navlist {
  height: 100vh;
  @include laptop-up {
    height: 100px;
  }

  &__iconWrapper {
    display: block;
    padding: 16px;
    @include laptop-up {
      display: none;
    }
  }

  &__icon {
    cursor: pointer;
    display: block;
    fill: $white;
    max-width: 32px;
    @include laptop-up {
      display: none;
    }
    #line1, #line2, #line3 {
      transition: all 0.24s ease-in-out;
    }
    &--open {
      & #line1 {
        transform: translate(6px, -2px) rotate(45deg);
      }
      & #line2 {
        opacity: 0;
      }
      & #line3 {
        transform: translate(-12px, 6px) rotate(-45deg);
      }
    }
  }

  &__item {
    border-bottom: solid 2px var(--dark-blue);
    display: block;
    height: 100vh / $numberOfNavItems - 2vh;
    margin: 0;
    transform: translateX(-110vw);
    transition: transform 0.20s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:nth-child(1) {
      transition-delay: 0.24s;
    }
    &:nth-child(2) {
      transition-delay: 0.30s;
    }
    &:nth-child(3) {
      transition-delay: 0.36s;
    }
    &:nth-child(4) {
      transition-delay: 0.42s;
    }
    &:nth-child(5) {
      transition-delay: 0.48s;
    }
    &:nth-child(6) {
      transition-delay: 0.56s;
    }
    @include laptop-up {
      border-bottom: 0;
      display: inline-block;
      height: 100%;
      margin: 0 10px;
      transform: translateX(0vw);
    }
    @include desktop-up {
      margin: 0 16px;
    }
  }
  &__anchor {
    align-items: center;
    color: $white;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    font-weight: 400;
    height: 100%;
    justify-content: center;
    padding: 8px;
    position: relative;
    text-decoration: none;
    transition: background 0.24s ease-out;
    @include mobile-up {
      font-size: 2.8rem;
    }
    @include laptop-up {
      font-size: 16px;
      height: auto;
      &::after {
        background: $white;
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        margin: auto;
        opacity: 0;
        position: absolute;
        right: 0;
        transform: translateY(10px);
        transition: all 0.2s ease-in-out;
        width: calc(100% - 16px);
      }
      &:hover::after {
        opacity: 1;
        transform: translateY(-6px);
      }
    }
    @include desktop-up {
      font-size: 18px;
    }
    &--active {
      background: $white;
      border-radius: 24px;
      color: var(--mid-blue);
      cursor: default;
      padding: 4px 20px;
      &:hover::after {
        opacity: 0;
        transform: none;
      }
    }
  }
}
