/* Breakpoints */
$desktop:  '1140px';
$laptop: '960px';
$tablet:  '720px';
$mobile: '540px';

/**/
@mixin mobile-up {
  @media only screen and (min-width: $mobile) { @content; }
}

@mixin tablet-up {
  @media only screen and (min-width: $tablet) { @content; }
}

@mixin laptop-up {
  @media only screen and (min-width: $laptop) { @content; }
}

@mixin desktop-up {
  @media only screen and (min-width: $desktop) { @content; }
}
