#line1, #line3 {
  transform: rotate(0deg) translate(0, 0);
  transition: transform 0.12s ease-out 0.06s;
}

#line2 {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 0.08s ease-out, transform 0.12s ease-out;
}

#icon {
  &.open {
    & #line1 {
      transform: rotate(45deg) translate(6px, -6px);
    }
    & #line2 {
      opacity: 0;
      transform: translateX(-28px);
    }
    & #line3 {
      transform: rotate(-45deg) translate(-12px, -1px);
    }
  }
}

.mobileNav {

  &__iconWrapper {
    background: var(--grad-light-blue);
    border-radius: 100px;
    bottom: -36px;
    color: $white;
    cursor: pointer;
    font-family: $secondaryFont;
    font-size: 10px;
    height: 80px;
    left: 0;
    margin: 0 auto;
    padding: 16px 0 0 32px;
    position: fixed;
    right: 0;
    text-transform: uppercase;
    user-select: none;
    width: 200px;
    z-index: 10;
  }

  &__icon {
    cursor: pointer;
    fill: $white;
    left: 0;
    margin: 0 auto;
    max-width: 32px;
    position: absolute;
    right: 0;
    bottom: 38px;
    user-select: none;
    z-index: 10;
  }

  &__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__listItem {
    align-items: center;
    display: flex;
    font-family: $secondaryFont;
    font-size: 3rem;
    height: 18vh;
    margin: auto;
    padding: 0 16px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    width: 100vw;

    & a {
      align-items: center;
      border-bottom: solid 2px var(--grad-light-blue);
      color: $white;
      display: flex;
      height: 100%;
      justify-content: center;
      text-decoration: none;
      transform: translateY(0px);
      transition: all 0.2s ease-out;
      width:100%;
      &:hover {
        background: var(--dark-blue);
        transform: translateY(-8px);
      }
    }

    &--control {
      font-weight: 300;
      & a {
        font-size: 32px;
        justify-content: flex-end !important;
        padding-right: 5vw;
        text-align: right;
        text-transform: uppercase;
      }
      &:hover {
        & a {
          background: var(--dark-blue);
          transform: translateX(0);
        }
      }
    }
  }
}
