.modal {
  bottom: 0;
  height: 100vh;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 10;
  &__background {
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
  }
  &__body {
    background: var(--dark-blue);
    bottom: 0;
    border-radius: 8px;
    color: $white;
    font-family: $secondaryFont;
    left: 0;
    margin: auto;
    padding: 16px;
    position: fixed;
    right: 0;
    top: 0;
    height: 600px;
    width: 600px;
  }
  &__title {
    color: $white;
    font-family: $secondaryFont;
    font-size: 2rem;
  }
  &__list {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    justify-content: center;
  }
  &__anchor {
    color: $white;
  }
}
