.nav {
  &__item {
    fill: #eee;
    font-family: $secondaryFont;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.24s ease-in-out;
    width: 100%;
    &:hover {
      fill: $white;
      .nav__underline {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__underline {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.16s ease-in-out, transform 0.2s ease-out;
    width: 100%;
  }
}
