.price {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  font-family: $secondaryFont;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0;
  width: 100vw;
  @include mobile-up {
    padding: 16px 32px;
  }

  &__heading {
    color: var(--mid-blue);
    font-size: 2rem;
    margin: 12px auto 32px;
    text-align: center;
    text-transform: uppercase;
  }

  &__table {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr;
    @include laptop-up {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__group {
    color: $white;
    padding: 24px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    &--basic {
      background: linear-gradient(#255BDE, #143DA1);
    }
    &--regular {
      background: linear-gradient(#255BDE, #00074D);
    }
    &--premium {
      background: linear-gradient(#133398, #00074D);
    }
  }

  &__title {
    font-size: 24px;
    margin: 24px auto 12px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 20px;
    text-align: center;
  }

  &__illustration {
    margin: 16px auto 42px;
    user-select: none;
  }

  &__price {
    font-size: 32px;
  }

  &__featureTitle {
    font-size: 14px;
    margin: 20px auto 16px;
    text-decoration: underline;
  }

  &__features {
    height: 200px;
  }

  &__featureList {
    list-style-type: none;
  }

  &__featureItem {
    font-size: 24px;
    font-weight: 300;
    margin: 18px auto;
    @include laptop-up {
      font-size: 18px;
    }
    @include desktop-up {
      font-size: 24px;
    }
  }

  &__button {
    background: linear-gradient(90deg, var(--grad-light-blue), var(--dark-blue));
    background-size: 200%;
    border: none;
    border-radius: 30px;
    bottom: 42px;
    color: $white;
    cursor: pointer;
    font-family: $secondaryFont;
    font-size: 24px;
    height: 60px;
    margin: 24px auto 12px;
    padding: 8px 30px;
    text-transform: uppercase;
    transition: background 0.24s ease-out;
    &:hover {
      background-position: 100%;
    }
  }
}
