* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  box-sizing: border-box;
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
}

a {
  cursor: pointer;
}

.container {
  background: radial-gradient(var(--grad-light-blue), var(--dark-blue));
  background-attachment: fixed;
  margin: 0 auto;
  width: 100vw;
  &--white {
    background: $white;
    display: grid;
    grid-template-rows: 100px auto 200px;
    min-height: 100vh;
  }
}

.noscroll {
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
}

.header {
  color: $blue;
  font-family: $secondaryFont;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.tagline {
  color: var(--pale-blue);
  font-family: $secondaryFont;
  font-size: 14px;
  letter-spacing: 3px;
  margin: -12px 0 0 0;
  text-align: center;
  text-transform: uppercase;
}

.seperator {
  height: 42px;
  margin: 0 -16px;
  position: relative;
  top: -50px;
  left: 0;
  width: calc(100% + 32px);
  &--createAccount {
    fill: var(--pale-blue);
  }
  &--generateIdentity {
    fill: var(--grad-light-blue);
  }
  &--autoFill {
    fill: var(--mid-blue);
  }
  @include laptop-up {
    height: 82px;
    top: -88px;
  }
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

label {
  color: $white;
  font-family: $primaryFont;
}

#logo {
  transform: translateX(-80px);
}

hr {
  border-color: rgba(255, 255, 255, 1);
  margin: 8px auto 18px;
  width: 80%;
}

.hr {
  &--full {
    width: 100%;
  }
}

input {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 4px;
  color: $white;
  font-family: $primaryFont;
  font-size: 14px;
  height: 28px;
  outline: none;
}

meter {
  // appearance: none;
  background: none;
  background-color: rgba(255,255,255,0.2);
  height: .5em;
  margin: 0 auto 1em;
  width: 100%;
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(255,255,255,0.2);
  border-radius: 4px;
}

meter::-webkit-meter-optimum-value{
  border-radius: 4px;
}

meter::-moz-meter-bar {
  border-radius: 4px;
}

meter[value="1"]::-webkit-meter-optimum-value {
  // background: #c00;
  background: $white;
}
meter[value="2"]::-webkit-meter-optimum-value {
  // background: #cc0;
  background: $white;
}
meter[value="3"]::-webkit-meter-optimum-value {
  // background: #fc0;
  background: $white;
}
meter[value="4"]::-webkit-meter-optimum-value {
  // background: #0c3;
  background: $white;
}

meter[value="1"]::-moz-meter-bar {
  // background: #c00;
  background: $white;
}
meter[value="2"]::-moz-meter-bar {
  // background: #ff0;
  background: $white;
}
meter[value="3"]::-moz-meter-bar {
  // background: #fc0;
  background: $white;
}
meter[value="4"]::-moz-meter-bar {
  // background: #0c3;
  background: $white;
}

.hidden {
  display: none;
  visibility: hidden;
}

.bold {
  font-weight: 700;
}

.no-margin {
  margin: 0 !important;
}

.link {
  color: $white;
  text-decoration: underline;
}

.title {
  font-family: $secondaryFont;
  font-size: 26px;
  margin: 12px auto 8px;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Setup custom font */
@font-face {
  font-family: 'Nexa'; /*a name to be used later*/
  src: url('../font/NexaRegular.woff'); /*URL to font*/
}
