#roadmap {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  font-family: $secondaryFont;
  margin: 0 auto;
  max-width: 1440px;
  padding: 36px 0 16px;
  width: 100vw;
}

.roadmap {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    @include tablet-up {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__title {
    color: var(--mid-blue);
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
  &__block {
    background: #fff;
    display: block;
    overflow: hidden;
    padding: 16px;
    position: relative;
    width: 100%;
  }
  &__complete {
    background: rgba(0, 100, 230, 0.75);
    height: 200%;
    position: absolute;
    width: 200%;
    &:after {
      align-content: center;
      color: $white;
      content: 'COMPLETE';
      display: grid;
      font-size: 32px;
      font-weight: 700;
      height: 50%;
      justify-content: center;
      margin: 0 auto;
      position: absolute;
      text-align: center;
      width: 50%;
    }
  }
  &__heading {
    color: var(--dark-blue);
    font-size: 18px;
    margin: 0 0 16px 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__image {
    background: linear-gradient(45deg, var(--grad-light-blue), var(--grad-dark-blue));
    margin: 16px 0;
    text-align: center;
  }
  &__text {
    font-size: 16px;
  }
}
