#tech {
  background-image: linear-gradient(#102085, #000534);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  font-family: $secondaryFont;
  margin: 0 auto;
  max-width: 1440px;
  padding: 16px;
  width: 100vw;
}
.tech {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    @include laptop-up {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__column {
    align-items: center;
    display: grid;
    &:nth-child(1) {
      order: 2;
      @include laptop-up {
        order: 1;
      }
    }
    &:nth-child(2) {
      order: 1;
      @include laptop-up {
        order: 2;
      }
    }
  }
  &__title {
    color: $white;
    font-size: 2rem;
    margin: 12px auto 32px;
    text-align: center;
    text-transform: uppercase;
  }
  &__text {
    color: var(--dark-blue);
    font-size: 1.2rem;
    line-height: 2rem;
  }
  &__card {
    background: rgba(255, 255, 255, 0.1);
    color: $white;
    margin: 12px auto;
    padding: 16px;
  }
}
