$switchSize: 24px;

/* The switch - the box around the slider */
.toggle {
  display: block;
  height: 32px;
  margin: 0 auto;
  position: relative;
  width: 72px;
  /* Hide default HTML checkbox */
  &__input {
    height: 0;
    opacity: 0;
    width: 0;
    &:checked + .toggle__switch {
      background-color: $lightBlue;
    }
    &:checked + .toggle__switch:before {
      transform: translateX(40px);
    }
    &:checked + .toggle__switch:after {
      content: 'On';
      left: 8px;
    }

    &:focus + .toggle__switch {
      box-shadow: 0 0 1px $lightBlue;
    }
  }

  &__switch {
    background-color: $desatBlue;
    border-radius: 34px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .28s $easeOut3;
    &:after {
      content: 'Off';
      font-size: 14px;
      font-weight: 700;
      left: 34px;
      line-height: 36px;
      position: relative;
      text-transform: uppercase;
    }
    &:before {
      background-color: white;
      border-radius: 50%;
      bottom: 4px;
      content: "";
      height: $switchSize;
      left: 4px;
      position: absolute;
      transition: .28s $easeOut3;
      width: $switchSize;
    }
  }

  &__option {
    bottom: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    user-select: none;
    &--left {
      left: -40px;
    }
    &--right {
      right: -30px;
    }
  }
}
