/* Declare variables */
:root {
  --grad-light-blue: #255bde;
  --grad-dark-blue: #12368f;
  --pale-blue: #9fc3fc;
  --light-blue: #143da1;
  --mid-blue: #133398;
  --neon-blue: #71cbd5;
  --dark-blue: #00074d;
  --text-color: #fff;
}

// Colors
$white: #fff;
$lightBlue: lighten(#143da1, 10%);
$lighterBlue: lighten(#255bde, 5%);
$blue: #143da1;

$desatBlue: #fff;
$paneBg: #fff;

// Fonts
$primaryFont: 'Nexa', Helvetica, Arial, system-ui, sans-serif;
$secondaryFont: 'Montserrat', Helvetica, Arial, system-ui, sans-serif;

// Measurements
$maxWidth: 360px;
$padding: 16px;

// Animations
$easeOut1: cubic-bezier(.39,.58,.57,1);
$easeOut2: cubic-bezier(0.86, 0, 0.07, 1);
$easeOut3: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOut: cubic-bezier(0, 0.14, 1, 0.88);
