.what {
  @extend .why;
  &__header {
    color: var(--light-blue);
    font-family: $secondaryFont;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    @include mobile-up {
      font-size: 52px;
    }
  }

  &__row {
    @extend .why__row;
    grid-template-columns: 1fr;
    margin: 0;
  }

  &__description {
    font-size: 24px;
    line-height: 48px;
    margin: 0;
    @include mobile-up {
      font-size: 32px;
      line-height: 64px;
    }
  }
}
