.why {
  background: $white;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 48px;
  width: 100vw;

  &__row {
    display: grid;
    font-family: $secondaryFont;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    margin-top: 18px;
    padding: 16px;
    @include mobile-up {
      grid-template-columns: 1fr;
    }
    @include tablet-up {
      grid-template-columns: 1fr 1fr;
      grid-gap: 32px;
    }
  }

  &__column {
    display: block;
    padding: 16px;
    text-align: center;
  }

  &__image {
    height: 60px;
  }

  &__h3 {
    color: var(--grad-light-blue);
    font-size: 32px;
    margin: 18px 0 0 0;
    text-transform: uppercase;
    &--alert {
      color: #c00;
    }
  }

  &__text {
    color: var(--dark-blue);
    font-size: 24px;
    line-height: 42px;
    margin: 8px 0;
    text-align: center;
    & em {
      font-weight: 700;
      text-decoration: underline;
    }
    &--alert {
      color: #600;
    }
  }
}
